﻿@model SimpleDD4T2Application.Models.Page.Generic
<!DOCTYPE html>
<html>
<head>
    <title>@Model.PageTitle</title>
</head>
<body>
    <!-- Page Metadata Keywords -->
    <div class="keywords">
        @foreach (var keyword in Model.Keywords)
        {
            <span class="keyword">@keyword</span>
        }    
    </div>
    <!-- End Page Metadata Keywords -->
    <!-- Component Presentations -->
    <div class="contentarea">
        @foreach (var item in Model.Items)
        {
            <div class="cp">
                @Html.Render(item)
            </div>
        }
    </div>
    <!-- End Component Presentations  -->
</body>
</html>